Week 4: Intermediate Assignment

Assignment 4: Advanced Python - File
Handling and Error Management

i-Write a program that reads a text file, counts the
number of lines, words, and characters, and
writes the results to a new file.

In [29]:
f1 = open("ubaid.txt","r")
print(f1.read())
f1.seek(0)
no_lines = 0
no_words = 0
no_chars = 0

for line in f1:
    no_lines += 1
    line = line.strip("\n")
    no_chars += len(line)
    list1 = line.split()
    no_words += len(list1)
f1.close()
print("The number of lines are: ",no_lines)
print("The number of words are: ",no_words)
print("The number of chars are: ",no_chars)

ubaid ullahllah I'm the student of Electrical Engineering at UET Lahore.
python was included in my 1st semester course , the basics of python language came to me from that course
then in this summer i joined the course of Python Ai and Data Science offered by KICS department UET Lahore.
and now i'm doing internship at  Xenosis FuturePro Internship.
The number of lines are:  4
The number of words are:  60
The number of chars are:  348

ii-Create a script that processes a CSV file
containing student grades and calculates the
average grade for each student.

In [38]:
import pandas as pd

In [44]:
df_students = pd.read_csv("students_grade.csv")

In [46]:
df_students

      Name  Math  Science  English
0    Alice    85       92       78
1      Bob    90       88       84
2  Charlie    78       73       80
3    David    82       79       88
4      Eva    91       85       87

In [64]:
df_students["Average"] = (df_students["Math"]+df_students["Science"]+df_students["English"])/3
df_students.round(2)

      Name  Math  Science  English  Average
0    Alice    85       92       78    85.00
1      Bob    90       88       84    87.33
2  Charlie    78       73       80    77.00
3    David    82       79       88    83.00
4      Eva    91       85       87    87.67

iii-Develop a program that handles multiple types
of exceptions (e.g., FileNotFoundError, ValueError)
and logs errors to a file.

In [79]:
import logging
logging.basicConfig(filename='error_log.txt', level=logging.ERROR,
                    format='%(asctime)s:%(levelname)s:%(message)s')

def read_file(file_path):
    try:
        f = open("error_log.txt","r+")
        data = f.read()
        print(data)
    except FileNotFoundError as fnf_error:
        logging.error(f"FileNotFoundError: {fnf_error}")
        print("Error: The file was not found. Please check the file path.")
    except ValueError as val_error:
        logging.error(f"ValueError: {val_error}")
        print("Error: There was a value error. Please check your input.")
    except Exception as e:
        logging.error(f"Unexpected error: {e}")
        print("An unexpected error occurred.")

def main():
    file_path = input("Enter the path of the file to read: ")
    read_file(file_path)

if __name__ == "__main__":
    main()

Enter the path of the file to read:  ubaidullah

2024-08-24 16:56:33,112:ERROR:FileNotFoundError: [Errno 2] No such file or directory: 'ubaidullah'
2024-08-24 16:58:25,367:ERROR:FileNotFoundError: [Errno 2] No such file or directory: 'ubaidullah'